h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7b016bd8 a { text-decoration: none; }
#menu_7b016bd8_pane { background-color: #313131; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7b016bd8_hr { background-color: #646464; height: 1px; border: none; }
#menu_7b016bd8_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7b016bd8_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7b016bd8_entry:hover span { color:#FFFFFF !important; }
		.menu_7b016bd8_mainMenuEntry { text-align: center; }
		.menu_7b016bd8_mainMenuEntry:hover {	background-color:#8B8B8B; }
		.menu_7b016bd8_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7b016bd8 .mobileEntry { display: none; } 
		#menu_7b016bd8 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_7b016bd8 .mobileEntry { display: block; } 
			#menu_7b016bd8 .normalEntry { display: none; } 
		}
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_144d08a2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_144d08a2_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_76c147a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#252525;  }
#container_76c147a8_padding { margin: 5px; display: block;  }
#menu_7b016bd8 { vertical-align: bottom; position:relative; display: inline-block; width:300px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:39px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:37px;  }
.textstyle3 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:72px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:26px;  }
.textstyle4 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:55px; height:38px; left:82px;  }
.menustyle4 { position:absolute; width:59px; height:38px; left:137px;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_28baa5e8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:341px; background-color:#EEDED0; background-image: url(rc_images/9669bdc62db2e52f2af838e9e40e7468e02be241_6415131404322.jpg); background-position:center left; background-size:cover;  }
#container_28baa5e8_padding { margin: 10px; display: block;  }
#container_47c8314 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:378px; background-color:rgba(37, 37, 37, 0.8);  }
#container_47c8314_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.5;  }
#heading_12dee79e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { text-align:left;display: block }
.textstyle8 { font-size:36pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#FFFFFF; line-height: 1.5; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle9 { font-size:36pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle10 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5382d0f7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:341px; background-color:#EEDED0; background-image: url(rc_images/6471382.jpg); background-position:center left; background-size:cover;  }
#container_5382d0f7_padding { margin: 10px; display: block;  }
.textstyle12 { text-align:right; }
#container_4da22525 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:378px; background-color:#252525;  }
#container_4da22525_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:18pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_63b62da2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:212px; background-color:#EEDED0;  }
#container_63b62da2_padding { margin: 10px; display: block;  }
#container_15221285 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:172px; background-color:#252525;  }
#container_15221285_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 680px)
{
		#container_47c8314 * span { font-size:12pt;  }
		#heading_12dee79e * span { font-size:20pt;  }
		#container_4da22525 * span { font-size:12pt;  }
}
